<form action = '/homes/<%=@home.id%>/leads' method = 'POST'>
  <div class="form-element">
    First Name: <input type = 'text' name = 'lead[first_name]'>
  </div>
  <div class="form-element">
    Last Name <input type = 'text' name = 'lead[last_name]'>
  </div>
   <div class="form-element">
    Email Address<input type = 'text' name = 'lead[email_address]'>
  </div>
  <div class="form-element">
    <input type = 'submit' value = 'Submit'>
  </div>
</form>